{# 
This file is part of the YesWiki Extension groupmanagement.

Authors : see README.md file that was distributed with this source code.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. #}

<div class="well">
  {% if isAdmin %}
    <div class="pull-right">
      <form action="" method="post" style="display: inline">
        <input type="hidden" name="view" value="options">
        <button type="submit" class="btn btn-default btn-xs btn-icon" title="{{ _t('GRPMNGT_ACTION_MANAGE_OPTIONS') }}"><i class="fas fa-cogs"></i></button>
      </form>
    </div>
  {% endif %}
  <h2>{{ title }}</h2>
  {% if errorMsg %}
    {{ include("@templates/alert-message.twig",{type:"danger",message:errorMsg}) }}
  {% elseif entriesWhereAdmin is not empty %}
    {% if selectedEntry %}
      {% if allowedToWrite %}
        {{ include("@templates/alert-message.twig",{type:"warning",message:_t('GRPMNGT_ACTION_ALLOWEDTOWRITE')}) }}
      {% else %}
        {{ include("@templates/alert-message.twig",{type:"info",message:_t('GRPMNGT_ACTION_NOTALLOWEDTOWRITE')}) }}
      {% endif %}
    {% endif %}
    <form action="" method="post" class="form-horizontal" id="groupManagementEntrySelect">
      {{ include("@bazar/inputs/select.twig",{
        field:{
          propertyName: "selectedEntry",
          required: true,
          type: "liste",
          label: selectentrylabel,
        },
        value: selectedEntry,
        options: entriesWhereAdmin,
      }) }}
      {% if selectedEntry is not empty %}
        {{ include("@groupmanagement/actions/groupmanagement_drag_n_drop.twig",{
          field:{
            propertyName: "membersofgroup",
            type: "checkbox",
            label: _t('GRPMNGT_ACTION_SELECTMEMBERS_LABEL'),
            fromFormId: '[fromForm]',
          },
          selectedOptionsId: selectedOptions ?? [],
          options: dragNDropOptions ?? [],
          optionsData : dragNDropOptionsData ?? [],
          oldValue: selectedOptions|join(','),
          name: _t('GRPMNGT_ACTION_DRAGNDROP_TITLE'),
        }) }}
      {% endif %}
      <input type="hidden" name="previousSelectedEntry" value="{{ selectedEntry }}">
      <input type="hidden" value="save" name="action">
      {% if selectedEntry is not empty %}
        <div>
          <a href="{{ url({tag:selectedEntry})}}" 
              class="btn btn-secondary-2 btn-xs modalbox pull-right" 
              data-size="modal-lg"
              title="{{ _t('BAZ_SEE_ENTRY') }}"
              data-toggle="tooltip"
              data-placement="left">
            <i class="fa fa-eye"></i>&nbsp;{{ selectedEntry }}
          </a>
        </div>
      {% endif %}
      <button type="submit" class="btn btn-primary" title="{{ _t('SAVE') }}">{{ _t('SAVE') }}</button>
    </form>
    {% if selectedEntry %}
      {% if allowedToWrite %}
        {{ include("@templates/alert-message.twig",{type:"warning",message:_t('GRPMNGT_ACTION_ALLOWEDTOWRITE')}) }}
      {% else %}
        {{ include("@templates/alert-message.twig",{type:"info",message:_t('GRPMNGT_ACTION_NOTALLOWEDTOWRITE')}) }}
      {% endif %}
    {% endif %}
      {{ include("@templates/alert-message.twig",{type:"info",message:_t('GRPMNGT_ACTION_HELP')|replace({"%":"<b>"," :":"</b> :"})|raw|nl2br}) }}
    </div>
  {% else %}
    {{ include("@templates/alert-message.twig",{
      type: "info",
      message: noentrylabel,
    }) }}
  {% endif %}
</div>

{{ include_javascript('tools/groupmanagement/javascripts/groupmanagement.js') }}